<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pandas Dashboard</title>
</head>
<body>
    <div class='flex flex-col h-screen justify-center items-center'>
        <h1 class="font-bold">Pandas Dashboard</h1>
        <p class="font-light">
            These number will refresh randomly after 30 seconds.
        </p>
        <br />
        {{ data|safe }}
    </div>

</body>
</html>